<div class="contents row">
  <% @tweets.each do |tweet| %>
    <%= render partial: "tweet", locals: { tweet: tweet } %>
  <% end %>
  <%= paginate(@tweets) %>
</div>

<!-- renderメソッドのlocalsオプション{ tweet: tweet } の右側の tweet はeachメソッド内の変数としてのtweetでtweetのインスタンスのこと。左側の tweet は部分テンプレート内での変数の名前を表している。 -->
